################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Nowcoder/v16/.suo
/.vs/ProjectSettings.json
/.vs
